﻿@{
    ViewBag.Title = "Series";
}

@section styles {
    <link href="@Url.Content("~/Client/css/vendors/angular-tooltips.min.css")" rel="stylesheet" />
}

@section scripts {
    <script src="@Url.Content("~/Client/app/modules/series/app.series.js")"></script>
    <script src="@Url.Content("~/Client/app/shared/apiHelper.js")"></script>
    <!-- services -->
    <script src="@Url.Content("~/Client/app/modules/series/services/series.js")"></script>
    <!-- controllers -->
    <script src="@Url.Content("~/Client/app/modules/series/controllers/series.js")"></script>
    <script src="@Url.Content("~/Client/app/modules/series/controllers/seriesList.js")"></script>
    <script src="@Url.Content("~/Client/app/modules/series/controllers/seriesDetails.js")"></script>
    <!-- directives -->
    <script src="@Url.Content("~/Client/app/shared/directives/ionslider.js")"></script>
    <!-- vendors -->
    <script src="@Url.Content("~/Client/scripts/vendors/angular-tooltips.min.js")"></script>
}

<div class="wrapper wrapper-content" data-ng-controller="SeriesController as vm">
    <div data-ng-view></div>
</div>