﻿<!DOCTYPE html>
<html>
<head>
    <base href="/">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Social Circles Portal</title>
    <link href="@Url.Content("~/Client/css/styles.min.css")" rel="stylesheet" />
    @RenderSection("styles", required: false)
</head>
<body class="pace-done fixed-sidebar" data-ng-app="app">
    <div id="wrapper">
        <!-- Navigation -->
        @Html.Partial("_Navigation")

        <!-- Page wraper -->
        <div id="page-wrapper" class="gray-bg">
            <!-- Top Navbar -->
            @Html.Partial("_TopNavbar")

            <!-- Header -->
            @Html.Partial("_Header")

            <!-- Main view  -->
            @*<div class="wrapper wrapper-content">*@
            @RenderBody()
            @*</div>*@

            <!-- Footer -->
            @Html.Partial("_Footer")
        </div>
        <!-- End page wrapper-->
        <!-- Right Sidebar -->
        @*@Html.Partial("_RightSidebar")*@
    </div>
    <script type="text/javascript">
        window.SocialCirclesPortal = {};
    </script>
    <script src="@Url.Content("~/Client/scripts/scripts.common.min.js")"></script>
    <script src="@Url.Content("~/Client/scripts/scripts.angular.min.js")"></script>
    <script src="@Url.Content("~/Client/app/app.js")"></script>
    @RenderSection("scripts", required: false)
    <script type="text/javascript">
        SocialCirclesPortal.rootPath = '@Url.Content("~")';
        @RenderSection("jsCode", required: false)
    </script>
</body>
</html>
