﻿<nav class="navbar-default navbar-static-side" role="navigation">
    <div class="sidebar-collapse">
        <ul class="nav" id="side-menu">
            <li class="nav-header">
                <div class="dropdown profile-element">
                    <span>
                        @*<img alt="image" class="img-circle" src="~/Images/profile_small.jpg" />*@
                    </span>
                    <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                        <span class="clear">
                            <span class="block m-t-xs">
                                <strong class="font-bold">Social Circles Portal</strong>
                            </span> <span class="text-muted text-xs block"><b class="caret"></b></span>
                        </span>
                    </a>
                    <ul class="dropdown-menu animated fadeInRight m-t-xs">
                        <li><a href="@Url.Action("Profile", "AppViews")">Profile</a></li>
                        <li><a href="@Url.Action("Contacts", "AppViews")">Contacts</a></li>
                        <li><a href="@Url.Action("Inbox", "Mailbox")">Mailbox</a></li>
                        <li class="divider"></li>
                        <li><a href="@Url.Action("Login", "Pages")">Logout</a></li>
                    </ul>
                </div>
                <div class="logo-element">
                    SCP
                </div>
            </li>
            <li class="@Html.IsSelected(controller: "Dashboard")">
                <a href="@Url.Action("Index", "Dashboard")"><i class="fa fa-th-large"></i> <span class="nav-label">Dashboard</span> </a>

            </li>
            @*<li class="@Html.IsSelected(controller: "Layouts")">
                    <a href="@Url.Action("Index", "Layouts")"><i class="fa fa-diamond"></i> <span class="nav-label">Layouts</span> <span class="label label-primary pull-right">NEW</span></a>
                </li>*@
            <li class="@Html.IsSelected(controller: "Series")">
                <a href="@Url.Action("Index","Series")"><i class="fa fa-tasks"></i> <span class="nav-label">Series</span></a>
            </li>
            @*<li class="@Html.IsSelected(controller: "Mailbox")">
                    <a href="#"><i class="fa fa-envelope"></i> <span class="nav-label">Mailbox </span><span class="label label-warning pull-right">16/24</span></a>
                    <ul class="nav nav-second-level">
                        <li class="@Html.IsSelected(action: "Inbox")"><a href="@Url.Action("Inbox", "Mailbox")">Inbox</a></li>
                        <li class="@Html.IsSelected(action: "EmailView")"><a href="@Url.Action("EmailView", "Mailbox")">Email view</a></li>
                        <li class="@Html.IsSelected(action: "ComposeEmail")"><a href="@Url.Action("ComposeEmail", "Mailbox")">Compose email</a></li>
                        <li class="@Html.IsSelected(action: "EmailTemplates")"><a href="@Url.Action("EmailTemplates", "Mailbox")">Email templates</a></li>
                    </ul>
                </li>*@
            @*<li class="@Html.IsSelected(controller: "Metrics")">
                    <a href="@Url.Action("Index", "Metrics")"><i class="fa fa-pie-chart"></i> <span class="nav-label">Metrics</span> </a>
                </li>
                <li class="@Html.IsSelected(controller: "Widgets")">
                    <a href="@Url.Action("Index", "Widgets")"><i class="fa fa-flask"></i> <span class="nav-label">Widgets</span> </a>
                </li>
                <li class="@Html.IsSelected(controller: "Forms")">
                    <a href="#"><i class="fa fa-edit"></i> <span class="nav-label">Forms</span><span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level">
                        <li class="@Html.IsSelected(action: "BasicFroms")"><a href="@Url.Action("BasicFroms", "Forms")">Basic form</a></li>
                        <li class="@Html.IsSelected(action: "Advanced")"><a href="@Url.Action("Advanced", "Forms")">Advanced Plugins</a></li>
                        <li class="@Html.IsSelected(action: "Wizard")"><a href="@Url.Action("Wizard", "Forms")">Wizard</a></li>
                        <li class="@Html.IsSelected(action: "FileUpload")"><a href="@Url.Action("FileUpload", "Forms")">File Upload</a></li>
                        <li class="@Html.IsSelected(action: "TextEditor")"><a href="@Url.Action("TextEditor", "Forms")">Text Editor</a></li>
                    </ul>
                </li>
                <li class="@Html.IsSelected(controller: "AppViews")">
                    <a href="#"><i class="fa fa-desktop"></i> <span class="nav-label">App Views</span>  <span class="pull-right label label-primary">SPECIAL</span></a>
                    <ul class="nav nav-second-level">
                        <li class="@Html.IsSelected(action: "Contacts")"><a href="@Url.Action("Contacts", "AppViews")">Contacts</a></li>
                        <li class="@Html.IsSelected(action: "Profile")"><a href="@Url.Action("Profile", "AppViews")">Profile</a></li>
                        <li class="@Html.IsSelected(action: "Projects")"><a href="@Url.Action("Projects", "AppViews")">Projects</a></li>
                        <li class="@Html.IsSelected(action: "ProjectDetail")"><a href="@Url.Action("ProjectDetail", "AppViews")">Project detail</a></li>
                        <li class="@Html.IsSelected(action: "TeamsBoard")"><a href="@Url.Action("TeamsBoard", "AppViews")">Teams board</a></li>
                        <li class="@Html.IsSelected(action: "SocialFeed")"><a href="@Url.Action("SocialFeed", "AppViews")">Social feed</a></li>
                        <li class="@Html.IsSelected(action: "Clients")"><a href="@Url.Action("Clients", "AppViews")">Clients</a></li>
                        <li class="@Html.IsSelected(action: "OutlookView")"><a href="@Url.Action("OutlookView", "AppViews")">Outlook view</a></li>
                        <li class="@Html.IsSelected(action: "FileManager")"><a href="@Url.Action("FileManager", "AppViews")">File manager</a></li>
                        <li class="@Html.IsSelected(action: "Calendar")"><a href="@Url.Action("Calendar", "AppViews")">Calendar</a></li>
                        <li class="@Html.IsSelected(action: "IssueTracker")"><a href="@Url.Action("IssueTracker", "AppViews")">Issue tracker</a></li>
                        <li class="@Html.IsSelected(action: "Blog")"><a href="@Url.Action("Blog", "AppViews")">Blog</a></li>
                        <li class="@Html.IsSelected(action: "Article")"><a href="@Url.Action("Article", "AppViews")">Article</a></li>
                        <li class="@Html.IsSelected(action: "FAQ")"><a href="@Url.Action("FAQ", "AppViews")">FAQ</a></li>
                        <li class="@Html.IsSelected(action: "Timeline")"><a href="@Url.Action("Timeline", "AppViews")">Timeline</a></li>
                        <li class="@Html.IsSelected(action: "PinBoard")"><a href="@Url.Action("PinBoard", "AppViews")">Pin board</a></li>
                    </ul>
                </li>
                <li class="@Html.IsSelected(controller: "Pages")">
                    <a href="#"><i class="fa fa-files-o"></i> <span class="nav-label">Other Pages</span><span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level">
                        <li class="@Html.IsSelected(action: "SearchResults")"><a href="@Url.Action("SearchResults", "Pages")">Search results</a></li>
                        <li class="@Html.IsSelected(action: "LockScreen")"><a href="@Url.Action("LockScreen", "Pages")">Lockscreen</a></li>
                        <li class="@Html.IsSelected(action: "Invoice")"><a href="@Url.Action("Invoice", "Pages")">Invoice</a></li>
                        <li class="@Html.IsSelected(action: "Login")"><a href="@Url.Action("Login", "Pages")">Login</a></li>
                        <li class="@Html.IsSelected(action: "Login_2")"><a href="@Url.Action("Login_2", "Pages")">Login v.2</a></li>
                        <li class="@Html.IsSelected(action: "ForgotPassword")"><a href="@Url.Action("ForgotPassword", "Pages")">Forgot password</a></li>
                        <li class="@Html.IsSelected(action: "Register")"><a href="@Url.Action("Register", "Pages")">Register</a></li>
                        <li class="@Html.IsSelected(action: "NotFoundError")"><a href="@Url.Action("NotFoundError", "Pages")">404 Page</a></li>
                        <li class="@Html.IsSelected(action: "InternalServerError")"><a href="@Url.Action("InternalServerError", "Pages")">500 Page</a></li>
                        <li class="@Html.IsSelected(action: "EmptyPage")"><a href="@Url.Action("EmptyPage", "Pages")">Empty page</a></li>
                    </ul>
                </li>
                <li class="@Html.IsSelected(controller: "Miscellaneous")">
                    <a href="#"><i class="fa fa-globe"></i> <span class="nav-label">Miscellaneous</span><span class="label label-info pull-right">NEW</span></a>
                    <ul class="nav nav-second-level">
                        <li class="@Html.IsSelected(action: "Notification")"><a href="@Url.Action("Notification", "Miscellaneous")">Notification</a></li>
                        <li class="@Html.IsSelected(action: "NestableList")"><a href="@Url.Action("NestableList", "Miscellaneous")">Nestable list</a></li>
                        <li class="@Html.IsSelected(action: "AgileBoard")"><a href="@Url.Action("AgileBoard", "Miscellaneous")">Agile board</a></li>
                        <li class="@Html.IsSelected(action: "Timeline_second_version")"><a href="@Url.Action("Timeline_second_version", "Miscellaneous")">Timeline v.2</a></li>
                        <li class="@Html.IsSelected(action: "Diff")"><a href="@Url.Action("Diff", "Miscellaneous")">Diff</a></li>
                        <li class="@Html.IsSelected(action: "SweetAlert")"><a href="@Url.Action("SweetAlert", "Miscellaneous")">Sweet alert</a></li>
                        <li class="@Html.IsSelected(action: "IdleTimer")"><a href="@Url.Action("IdleTimer", "Miscellaneous")">Idle timer</a></li>
                        <li class="@Html.IsSelected(action: "Spinners")"><a href="@Url.Action("Spinners", "Miscellaneous")">Spinners</a></li>
                        <li class="@Html.IsSelected(action: "LiveFavicon")"><a href="@Url.Action("LiveFavicon", "Miscellaneous")">Live favicon</a></li>
                        <li class="@Html.IsSelected(action: "Forum_view")"><a href="@Url.Action("Forum_view", "Miscellaneous")">Forum view</a></li>
                        <li class="@Html.IsSelected(action: "GoogleMaps")"><a href="@Url.Action("GoogleMaps", "Miscellaneous")">Google maps</a></li>
                        <li class="@Html.IsSelected(action: "CodeEditor")"><a href="@Url.Action("CodeEditor", "Miscellaneous")">Code editor</a></li>
                        <li class="@Html.IsSelected(action: "ModalWindow")"><a href="@Url.Action("ModalWindow", "Miscellaneous")">Modal window</a></li>
                        <li class="@Html.IsSelected(action: "Validation")"><a href="@Url.Action("Validation", "Miscellaneous")">Validation</a></li>
                        <li class="@Html.IsSelected(action: "Tree_view")"><a href="@Url.Action("Tree_view", "Miscellaneous")">Tree view</a></li>
                        <li class="@Html.IsSelected(action: "Chat_view")"><a href="@Url.Action("Chat_view", "Miscellaneous")">Chat view</a></li>
                    </ul>
                </li>
                <li class="@Html.IsSelected(controller: "UIElements")">
                    <a href="#"><i class="fa fa-flask"></i> <span class="nav-label">UI Elements</span><span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level">
                        <li class="@Html.IsSelected(action: "Typography")"><a href="@Url.Action("Typography", "UIElements")">Typography</a></li>
                        <li class="@Html.IsSelected(action: "Icons")"><a href="@Url.Action("Icons", "UIElements")">Icons</a></li>
                        <li class="@Html.IsSelected(action: "DraggablePanels")"><a href="@Url.Action("DraggablePanels", "UIElements")">Draggable Panels</a></li>
                        <li class="@Html.IsSelected(action: "Buttons")"><a href="@Url.Action("Buttons", "UIElements")">Buttons</a></li>
                        <li class="@Html.IsSelected(action: "Video")"><a href="@Url.Action("Video", "UIElements")">Video</a></li>
                        <li class="@Html.IsSelected(action: "TablesPanels")"><a href="@Url.Action("TablesPanels", "UIElements")">Panels</a></li>
                        <li class="@Html.IsSelected(action: "Tabs")"><a href="@Url.Action("Tabs", "UIElements")">Tabs</a></li>
                        <li class="@Html.IsSelected(action: "NotificationsTooltips")"><a href="@Url.Action("NotificationsTooltips", "UIElements")">Notifications & Tooltips</a></li>
                        <li class="@Html.IsSelected(action: "BadgesLabelsProgress")"><a href="@Url.Action("BadgesLabelsProgress", "UIElements")">Badges, Labels, Progress</a></li>
                    </ul>
                </li>
                <li class="@Html.IsSelected(controller: "GridOptions")">
                    <a href="@Url.Action("Index", "GridOptions")"><i class="fa fa-laptop"></i> <span class="nav-label">Grid options</span></a>
                </li>
                <li class="@Html.IsSelected(controller: "Tables")">
                    <a href="#"><i class="fa fa-table"></i> <span class="nav-label">Tables</span><span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level">
                        <li class="@Html.IsSelected(action: "StaticTables")"><a href="@Url.Action("StaticTables", "Tables")">Static Tables</a></li>
                        <li class="@Html.IsSelected(action: "DataTables")"><a href="@Url.Action("DataTables", "Tables")">Data Tables</a></li>
                        <li class="@Html.IsSelected(action: "FooTables")"><a href="@Url.Action("FooTables", "Tables")">Foo Table</a></li>
                        <li class="@Html.IsSelected(action: "jqGrid")"><a href="@Url.Action("jqGrid", "Tables")">jqGrid</a></li>
                    </ul>
                </li>
                <li class="@Html.IsSelected(controller: "Ecommerce")">
                    <a href="#"><i class="fa fa-shopping-cart"></i> <span class="nav-label">E-commerce</span><span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level">
                        <li class="@Html.IsSelected(action: "ProductsGrid")"><a href="@Url.Action("ProductsGrid", "Ecommerce")">Products grid</a></li>
                        <li class="@Html.IsSelected(action: "ProductsList")"><a href="@Url.Action("ProductsList", "Ecommerce")">Products list</a></li>
                        <li class="@Html.IsSelected(action: "ProductEdit")"><a href="@Url.Action("ProductEdit", "Ecommerce")">Product edit</a></li>
                        <li class="@Html.IsSelected(action: "Orders")"><a href="@Url.Action("Orders", "Ecommerce")">Orders</a></li>
                    </ul>
                </li>
                <li class="@Html.IsSelected(controller: "Gallery")">
                    <a href="#"><i class="fa fa-picture-o"></i> <span class="nav-label">Gallery</span><span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level">
                        <li class="@Html.IsSelected(action: "BasicGallery")"><a href="@Url.Action("BasicGallery", "Gallery")">Lightbox Gallery</a></li>
                        <li class="@Html.IsSelected(action: "BootstrapCarusela")"><a href="@Url.Action("BootstrapCarusela", "Gallery")">Bootstrap Carusela</a></li>

                    </ul>
                </li>*@
            <li>
                <a href="#"><i class="fa fa-sitemap"></i> <span class="nav-label">Menu Levels </span><span class="fa arrow"></span></a>
                <ul class="nav nav-second-level">
                    <li>
                        <a href="#">Third Level <span class="fa arrow"></span></a>
                        <ul class="nav nav-third-level">
                            <li>
                                <a href="#">Third Level Item</a>
                            </li>
                            <li>
                                <a href="#">Third Level Item</a>
                            </li>
                            <li>
                                <a href="#">Third Level Item</a>
                            </li>

                        </ul>
                    </li>
                    <li><a href="#">Second Level Item</a></li>
                    <li>
                        <a href="#">Second Level Item</a>
                    </li>
                    <li>
                        <a href="#">Second Level Item</a>
                    </li>
                </ul>
            </li>
            @*<li class="@Html.IsSelected(controller: "CSSAnimations")">
                    <a href="@Url.Action("Index", "CSSAnimations")"><i class="fa fa-magic"></i> <span class="nav-label">CSS Animations </span><span class="label label-info pull-right">62</span></a>
                </li>
                <li class="special_link @Html.IsSelected(controller: " Landing")">
                    <a href="@Url.Action("Index", "Landing")"><i class="fa fa-star"></i> <span class="nav-label">Landing page</span></a>
                </li>
                <li class="special_link @Html.IsSelected(controller: " Scaffolding")">
                    <a href="@Url.Action("Index", "Scaffolding")"><i class="fa fa-database"></i> <span class="nav-label">Scaffolding Example</span></a>
                </li>
                <li class="special_link @Html.IsSelected(controller: " Json")">
                    <a href="@Url.Action("Index", "Json")"><i class="fa fa-plug"></i> <span class="nav-label">JSON Examples</span></a>
                </li>*@
        </ul>
    </div>
</nav>