﻿<div class="row">
    <div class="col-lg-12">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>Series list<small></small></h5>
            </div>
            <div class="ibox-content">
                <a class="btn btn-primary" data-ng-click="vm.addSeries()">Add new series</a>
                <div class="hr-line-dashed"></div>
                <div class="table-responsive">
                    <!--<table class="table table-striped table-bordered table-hover">-->
                    <table class="table footable" data-page-size="15">
                        <thead>
                            <tr>
                                <th class="col-md-1"></th>
                                <th class="col-md-4">Name</th>
                                <th class="col-md-2">Last modification date</th>
                                <th class="col-md-2">Creation date</th>
                                <th class="col-md-2">Status</th>
                                <th class="col-md-1"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr data-ng-repeat="s in vm.series">
                                <td>
                                    <a class="btn btn-success btn-outline" data-ng-click="vm.updateSeries(s)">
                                        <i class="fa fa-edit"></i>&nbsp;Edit
                                    </a>
                                <td>{{s.name}}</td>
                                <td>{{s.changeDateTime | date :'yyyy-MM-dd HH-mm-ss'}}</td>
                                <td>{{s.createDateTime | date :'yyyy-MM-dd HH-mm-ss'}}</td>
                                <td>Status</td>
                                <td>
                                    <button class="btn btn-danger dim" type="button"><i class="fa fa-trash"></i></button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>