﻿<div class="row">
    <div class="col-lg-12">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>Series details <small></small></h5>
            </div>
            <div class="ibox-content">
                <form action="" class="form-horizontal">
                    <div class="col-md-7 b-r">
                        <div class="form-group">
                            <label tooltips title="Number of restarts" tooltip-side="top" class="col-md-2 control-label text-left">Restarts</label>
                            <div class="col-md-9">
                                <ionslider data-type="double" data-ng-model="vm.series.iterations" />
                            </div>
                            <div class="col-md-1">
                                <button data-ng-click="vm.showArgumentConfiguration(vm.series.iterations)" class="btn btn-outline btn-success dim" type="button" data-toggle="modal" data-target="#argumentConfiguration"><i class="fa fa-cogs"></i></button>
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>
                        <div class="form-group">
                            <label tooltips title="Number of circles." tooltip-side="top" class="col-md-2 control-label text-left">K</label>
                            <div class="col-md-9">
                                <ionslider data-type="double" data-ng-model="vm.series.k" />
                            </div>
                            <div class="col-md-1">
                                <button data-ng-click="vm.showArgumentConfiguration(vm.series.k)" class="btn btn-outline btn-success dim" type="button" data-toggle="modal" data-target="#argumentConfiguration"><i class="fa fa-cogs"></i></button>
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>
                        <div class="form-group">
                            <label tooltips title="Regularization parameter." tooltip-side="top" class="col-md-2 control-label text-left">Lambda</label>
                            <div class="col-md-9">
                                <ionslider data-type="double" ng-model="vm.series.lambda" />
                            </div>
                            <div class="col-md-1">
                                <button data-ng-click="vm.showArgumentConfiguration(vm.series.lambda)" class="btn btn-outline btn-success dim" type="button" data-toggle="modal" data-target="#argumentConfiguration"><i class="fa fa-cogs"></i></button>
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>
                        <div class="form-group">
                            <label tooltips title="Number of iterations of training." tooltip-side="top" class="col-md-2 control-label text-left">Training</label>
                            <div class="col-md-9">
                                <ionslider data-type="double" ng-model="vm.series.training" />
                            </div>
                            <div class="col-md-1">
                                <button data-ng-click="vm.showArgumentConfiguration(vm.series.training)" class="btn btn-outline btn-success dim" type="button" data-toggle="modal" data-target="#argumentConfiguration"><i class="fa fa-cogs"></i></button>
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>
                        <div class="form-group">
                            <label tooltips title="Number of iterations of gradient ascent." class="col-md-2 control-label text-left">Gradient</label>
                            <div class="col-md-9">
                                <ionslider data-type="double" ng-model="vm.series.gradient" />
                            </div>
                            <div class="col-md-1">
                                <button data-ng-click="vm.showArgumentConfiguration(vm.series.gradient)" class="btn btn-outline btn-success dim" type="button" data-toggle="modal" data-target="#argumentConfiguration"><i class="fa fa-cogs"></i></button>
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>
                        <div class="form-group">
                            <label tooltips title="Number of iterations using by QPBO." class="col-md-2 control-label text-left">Improve</label>
                            <div class="col-md-9">
                                <ionslider data-type="double" ng-model="vm.series.improve" />
                            </div>
                            <div class="col-md-1">
                                <button data-ng-click="vm.showArgumentConfiguration(vm.series.improve)" class="btn btn-outline btn-success dim" type="button" data-toggle="modal" data-target="#argumentConfiguration"><i class="fa fa-cogs"></i></button>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-5">
                        <div class="form-group">
                            <label class="col-md-2 control-label">Name</label>
                            <div class="col-md-10">
                                <input type="text" placeholder="Enter name" class="form-control" data-ng-model="vm.series.name">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-2 control-label">Algorithm</label>
                            <div class="col-md-10">
                                <select class="form-control m-b">
                                    <option>SNAP</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row"></div>
                    <div class="hr-line-dashed"></div>
                    <div class="form-group">
                        <div class="col-md-12">
                            <a class="btn btn-white" data-ng-click="vm.cancelSeries()">Cancel</a>
                            <a class="btn btn-primary" data-ng-click="vm.saveSeries()">Save</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- argument configuration modal window -->
<div class="modal inmodal fade" id="argumentConfiguration" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h2 class="modal-title">{{ vm.editArgument.argumentType }}</h2>
            </div>
            <div class="modal-body">
                <div class="row">
                    <form>
                        <div class="form-group">
                            <label class="col-md-2 control-label">Min </label>
                            <div class="col-md-10">
                                <input type="number" class="form-control" data-ng-model="vm.editArgument.min">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-2 control-label">Max </label>
                            <div class="col-md-10">
                                <input type="number" class="form-control" data-ng-model="vm.editArgument.max">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-2 control-label">Step </label>
                            <div class="col-md-10">
                                <input type="number" class="form-control" data-ng-model="vm.editArgument.step">
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-white" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal" data-ng-click="vm.confirmArgumenttConfiguration(vm.editArgument)">Ok</button>
            </div>
        </div>
    </div>
</div>